html, body{
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;

    z-index: 0;
}

.content{
    position: relative;
    height: 3000px;
    background: yellow;
}